.profile__avatar-edit {
  padding: 0;
  border: 0;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background-color .5s ease;
  outline: none;
}

.profile__avatar-edit:hover {
  background-image: url(../images/profile__avatar-edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .8);
}