.profile__avatar-edit {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    border: none;
    border-radius: 50%;
    background: url(../../../images/pen-edit.svg) rgba(0, 0, 0, 0.8) no-repeat center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.22s linear;
}

.profile__avatar-edit:hover {
    opacity: 1;
}