.header__logo {
  width: 142px;
  height: 33px;
  margin: 0 0 40px;
  transition: opacity .6s linear;
}

.header__logo:hover {
  opacity: 0.5;
}

@media screen and (max-width: 550px){
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0 0 30.6px 27px;
  }
}