.profile__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

@media screen and (max-width:725px) {
    .profile__text {
        margin-bottom: 36px;
        text-align: center;
        align-items: center;
    }  
}