.card__like-button {
  background-image: url('../images/like-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 19px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}



