.popup__close {
  background-image: url('../images/close.svg');
  background-size: 40px;
  background-color: transparent;
  transform: rotate(-45deg);
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  position: absolute;
  right: -40px;
  top: -40px;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .popup__close {
    width: 26px;
    height: 26px;
    background-size: 26px;
    right: 5px;
    top: -45px;
  }
}