.header__link {
  font-size: 18px;
  line-height: 34px;
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.header__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
    margin-top: 6px;
    margin-right: 30px;
  }
}