.profile__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  overflow: hidden;
  line-height: 22px;
  margin: 14px 0 0 0;
  max-width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .profile__caption {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 189px;
  }
}