.card__delete-button {
  background-image: url(../images/delete-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 19.3px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: opacity 0.5s linear;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 18px;
}

.card__delete-button:hover {
  opacity: 0.6;
}