.header__menu {
  display: flex;
  flex-direction: row;
  display: flex;
}

@media screen and (max-width: 550px){
  .header__menu {
    padding-top: 28px;
    flex-direction: column;
    display: none;
  }
}