.auth__button {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  height: 50px;
  background-color: white;
  outline: none;
  box-sizing: border-box;
  border-radius: 2px;
  color: black;
  opacity: 0.2;
  padding: 0;
  margin: 186px 0 0 0;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .auth__button {
    font-size: 16px;
    line-height: 19px;
    height: 46px;
    margin: 143px 0 0 0;
  }
}