.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 550px){
  .header {
    padding-top: 0;
    flex-direction: column;
  }
}
